dist
node_modules
.env
.idea
npm-debug.log
.vscode
.cert
yarn.lock
git.orig
examples
.shared

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
